@model IEnumerable<ProyectoDTO>
@{
}

@if (Model is not null)
{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

    <div class="container">
        @if (currentController != "Home" || currentAction != "Proyectos")
        {
            <div class="row mb-3">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Proyectos">Todos los Proyectos<i class="bi bi-caret-right-fill ms-2"></i></a>
                </div>
            </div>
        }
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var proyecto in Model)
            {
                var imagen = proyecto.ImagenesURL[1] ?? "";
                <div class="col">
                    <div class="card h-100" onclick="location.href='@Url.Action("Proyecto", "Home", new { id = proyecto.Id })'">
                        @{
                            var imagenWebp = imagen.Replace(".png", ".webp");
                            var imagenPng = imagen;
                        }
                        <picture>
                            <source srcset="@imagenWebp" type="image/webp"/>
                            <source srcset="@imagenPng" type="image/png"/>
                            <img src="@imagenPng" class="card-img-top" alt="imagen proyecto" />
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">@proyecto.Titulo</h5>
                            <p class="card-text">@proyecto.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Proyecto" asp-route-id="@proyecto.Id">Visitar</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col">
                <div class="card h-100 bg-primary text-white d-flex justify-content-center align-items-center">
                    <h2 class="w-100 text-center">Más proyectos próximamente</h2>
                </div>
            </div>
        </div>
    </div>
}